@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #e4e8eb;
    color: #000000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20211c;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
}

.logo {
    width: 60px;
    height: 60px;
    background-image: url('../images/Untitled\ design.jpg');
    background-size: cover;
    background-position: center;
    /*animation: rotate 25s linear infinite;*/
    margin-left: 1rem;
}


/*
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
    */

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    transition: all 0.3s ease-in-out;
    color: rgb(1, 54, 245);
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.menu-icon div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    margin-right: 1rem;
}

.nav-links {
    display: flex;
    transition: max-height 0.3s ease-in-out;
}

.nav-links a {
    display: block;
}

@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: #20211c;
        max-height: 0;
        overflow: hidden;
    }
    .nav-links a {
        padding: 10px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon.change div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .menu-icon.change div:nth-child(2) {
        opacity: 0;
    }
    .menu-icon.change div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


/*************FOOTER*************/


/********************************/


/********************************/


/********************************/

footer {
    background-color: #000000;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footer-section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer-section p,
.footer-section ul {
    font-size: 1.2em;
    line-height: 1.6;
    color: #ddd;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 10px;
}

.footer-bottom {
    border-top: 1px solid #575757;
    padding-top: 20px;
}

.footer-bottom p {
    font-size: 1em;
    color: #ddd;
}

.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        text-align: center;
    }
}